.header{
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 30px;
  font-size: 25px;
  background-color: #9999ff;
  color: #fff;
  font-weight: 700;
}

@media screen and (max-width: 750px) {
  .header{
    font-size: 18px;
  }
  .header p{
    width: 100%;
    text-align: center;
    word-break: keep-all;
  }
}